body{
  background-color: #ededc1;  
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
  color: #443502;
}

p{
  margin: 5px;
  text-align: left;
}

.erdekesseg{
  font-style: normal;
  font-size: 100%;   
  font-weight: normal;
}

li{
  font-weight:bold;  
}
